@font-face {
    font-family: 'Lgc';
    src: url('../../Font/Lgc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lgc', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.banner img {
    width: 100%;
}

/* Banner text styling (Home only) */
.banner .bannerText {
    width: 28%;
    position: absolute;
    top: 21.5%;
    left: 3%;
}

.bannerText p {
    font-size: calc(2.1vw);
    font-weight: normal;
}

/* Mobile View - Dynamically Change Background */
@media (max-width: 575px) {
    .banner img {
        display: none;
    }
    .banner {
        padding: 75% 0;
        background-size: 100% 100%;
    }

    .banner .bannerText {
        display: none;
    }
}
