@font-face {
    font-family: 'Lgc';
    src: url('../../Font/Lgc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lgc', sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    position: relative;
}

/* Desktop Banner Image */
.banner img {
    width: 100%;
    display: block;
}

/* Banner text styling (Home only) */
.banner .bannerText {
    width: 28%;
    position: absolute;
    top: 21.5%;
    left: 3%;
}

.bannerText p {
    font-size: calc(2.1vw);
    font-weight: normal;
}

/* Mobile View - Hide img and apply dynamic background */
@media (max-width: 575px) {
    .banner {
        background-position: center;
        padding: 75% 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .banner img {
        display: none;
    }

    .banner .bannerText {
        display: none;
    }
}
