#cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--numcards), var(--card-height));
  gap: var(--card-margin);
  padding-bottom: calc(var(--numcards) * var(--card-top-offset));
  margin-bottom: var(--card-margin);
  padding: 0;
}

#card-1 {
  --index: 1;
}

#card-2 {
  --index: 2;
}

#card-3 {
  --index: 3;
}

#card-4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--card-top-offset));
}



/* Animation */
@supports (animation-timeline: works) {
  @scroll-timeline cards-element-scrolls-in-body {
    source: selector(body);
    scroll-offsets: selector(#cards) start 1, selector(#cards) start 0;
    start: selector(#cards) start 1;
    end: selector(#cards) start 0;
    time-range: 4s;
  }

  .card {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numcards) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
  }

  .card__content {
    transform-origin: 100% 0%;
    will-change: transform;

    --duration: calc(var(--reverse-index0) * 1s);
    --delay: calc(var(--index0) * 1s);

    animation: var(--duration) linear scale var(--delay) forwards;

  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
}


.venue {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.venueUpper {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 2%; */
  z-index: 2;
}



.carouselControls {
  width: 1%;
  position: absolute;
  bottom: 2%;
  right: 8%;
  display: flex;
  gap: 50%;
}

.carouselButton {
  padding: 50%;
  /* Reduced outer padding */
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  position: relative;
  /* Added for proper positioning of pseudo-element */
}

.carouselButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30%;
  border-radius: 50%;
  background-color: transparent;
}

.carouselButton.active::after {
  background-color: black;
}

.venueUpper img {
  width: 100%;
}



@font-face {
  font-family: 'washington';
  src: url('../../Font/Washington.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lgcd';
  src: url('../../Font/Lgcd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('../../Font/Lgc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.venueLower {
  width: 100%;
  border: 1px solid black;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #395198;
}

.venuwLowerDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venueLowerDHeading {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0%;
  margin: auto;
}

.venueLowerDHeading p {
  font-family: 'washington';
  font-size: 3.00vw;
  color: white;
  margin: 0;
}

/* .navbarContact1 {
      width: 35%;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 0.4%;
      background-color: white;
  } */

.contactUsHeading1 {
  width: 34%;
  display: flex;
  background-color: white   ;
}

.contactUsHeading1 p {
  font-family: 'lgcd';
  margin: 0;
  font-size: 1.60vw;
  font-weight: 700;
  color: black;
}

.navbarContactNumber1 {
  width: 65%;
  display: flex;
  padding: 2% 0;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.navbarContactNumber1 p {
  font-family: 'lgcd';
  color: white;
  margin: 0;
  font-size: 1.5vw;
  font-weight: 700;
}

.navbarContactNumber1 img {
  width: 9%;
}

.venueLowerDDetails {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
}

.venueLeft {
  display: flex;
  flex-direction: column;
  width: 38%;
  cursor: pointer;
}

.navbarContact1 {
  width: 35%;
  /* display: flex;
  align-items: end;
  justify-content: space-between; */
  padding: 0.4%;
  /* border: 1px solid black; */
  text-shadow: none;
  /* Removed text shadow */
  --border-angle: 0turn;
  --main-bg: conic-gradient(from var(--border-angle),
      white,
      white 5%,
      white 60%,
      white 95%);
  border: solid 2px transparent;
  --gradient-border: conic-gradient(from var(--border-angle),
      transparent 25%,
      black,
      black 99%,
      transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
  margin-top: 0.5%;
}


@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

/* .venueLeft p{
      f
  } */
.venueButton {
  font-family: 'lgcd';
  font-size: 1.80vw;
  font-weight: 700;
  color: white;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 3%;
  opacity: 0;
  transform: translateX(-10px);
  animation: fadeInDetail 0.8s ease-in-out forwards;
}

.venueRightText {
  font-family: 'lgcd';
  font-size: 1.20vw;
  font-weight: 700;
  color: white;
  margin-top: 0;
  margin-bottom: 3%;
}

.venueButton:hover {
  color: rgb(255, 255, 255);
}

.venueButton.active {
  color: #ffffff;
  /* Change color when active */
  opacity: 1;
  transform: scale(1);
}

.venueButton.active::before {
  content: "---- ";
  color: #fff;
}

.venueRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-top: 0.25%;
}

/* .venueRight img {
  width: 100%;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: scale(1.1);
}

.venueRight img .active {
  opacity: 1;
  transform: scale(1);
} */

.venueLeft p {
  font-family: 'CustomFont';
  font-size: calc(1.45vw);
  font-weight: 400;
  color: white;
  margin: 1.5% 0;
}



.venueLeft .properties {
  font-family: 'CustomFont';
  color: rgba(255, 255, 255, 0.65);
  font-weight: 100;

}
@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-out {
  opacity: 0 !important;
}

.carouselImage {
  width: 100%;
  height: 500px;
  object-fit: fill;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.carouselImage:active {
  transform: scale(0.95);
}

.carouselButton {
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.carouselButton:hover {
  transform: scale(1.2);
}

.carouselButton.active {
  background-color: #fff;
  transform: scale(1.3);
}

/* Fade and Zoom Effect */
.fade-zoom {
  opacity: 0;
  transform: scale(0.9);
  animation: fadeSlideUp 0.8s forwards;
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* cursor: pointer;
  } */

.properties.selected {
  color: white;
  font-weight: normal;
}

.venueImage.active {
  opacity: 1;
  transform: scale(1);
}

.propertyImage {
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}


.animateImage {
  opacity: 0;
  animation: fadeSlideUp 0.4s forwards;
}




@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.venueRight img {
  width: 100%;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
max-height: 350px;
  transform: scale(1.1);
}

.venueRight img.active {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 575px){
  .venueLowerDDetails{
    margin: auto;
    flex-direction: column;
  }

  .venueLeft{
    width: 100%;
  }

  .venueLeft p{
    font-size: 4vw;
  }

  .venueRight{
    width: 100%;
  }

  .venueRight img{
    height: 30vh;
  }

  .venueLowerDHeading{
    width: 94%;
    margin-top: 3%;
  }

  .venueLowerDHeading p{
    font-size: 4.5vw;
  }

  .venueUpper img {
    height: 32vh;
  }

  .contactUsHeading1 {
    display: none;
  }

  .navbarContact1{
    width: 30%;
    background-color: transparent;
    justify-content: end;
  }
  .navbarContactNumber1{
    padding: 3% 0;
    width: 100%;
  }
  .navbarContactNumber1 p{
    font-size: 3.5vw;
  }

  .carouselButton{
    padding: 4px;
  }

  .carouselControls {
    bottom: 2%;
    right: 15%;
    display: flex;
    gap: 80%;
  }

  .venueLower{
    padding-bottom: 5%;
  }
}